<h2 class="text-center text-dark mt-5" id="title">
  江湖在走，幹話不能沒有
</h2>
<h5 class="text-center mt-3">選擇你要講幹話的對象</h5>
<form method="POST" action="/">
  <div class="container mt-2">
    <div class="row d-flex justify-content-center">

      <div class="card col-md-3 mx-2 my-2 card-deck bg-info">
        <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5668/angry-developer.jpg"
          class="card-img-top rounded" alt="工程師" />
        <div class="card-body d-flex flex-column align-items-center">
          <input type="radio" name="profession" id="engineer" value="engineer" {{#if engineer }} checked {{/if}}/>
          <label for="engineer" class="text-white mt-3 h4">工程師</label>
        </div>
      </div>
      <div class="card col-md-3 mx-2 my-2 bg-info">
        <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5667/angry-designer.jpg"
          class="card-img-top rounded" alt="設計師" />
        <div class="card-body d-flex flex-column align-items-center">
          <input type="radio" name="profession" id="designer" value="designer" {{#if designer}} checked {{/if}}/>
          <label for="designer" class="text-white mt-3 h4">設計師</label>
        </div>
      </div>
      <div class="card col-md-3 mx-2 my-2 bg-info">
        <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5669/angry-founder.jpg"
          class="card-img-top rounded" alt="創業家" />
        <div class="card-body d-flex flex-column align-items-center">
          <input type="radio" name="profession" id="entrepreneur" value="entrepreneur" {{#if entrepreneur}} checked {{/if}} />
          <label for="entrepreneur" class="text-white mt-3 h4">創業家</label>
        </div>
      </div>

    </div>
  </div>

  <div class="container mt-2">
    <div class="row d-flex justify-content-center">
      <div class="col-sm-2" id="generate-btn">
        <button type="submit" class="btn btn-lg btn-danger">
          來句幹話
        </button>
      </div>
      <div class="col-sm-8">
        <div class="alert alert-primary" role="alert">
          {{#if sentence}}
           {{{sentence}}}
          {{/if}}
        </div>
      </div>

    </div>
  </div>
</form>